body {
    background-color: rgb(209, 160, 255);
    color: black;    
    font-family: "New Amsterdam", system-ui;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;

}

button {
    background-color: rgb(152, 0, 182);
    color: rgb(255, 255, 255);
    font-family: "New Amsterdam", system-ui;
}

.passo {
    display: none;
}

.passo.ativo {
    display: block;
}

main{
    text-align: center;
    max-width: 90%;
}

img{
    max-width: 80%;
}